charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1775127091311/work
contourpy @ file:///D:/bld/contourpy_1744743084386/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cycler_1764466758/work
deepchem==2.8.0
et_xmlfile==2.0.0
fonttools @ file:///D:/bld/fonttools_1778770296989/work
freetype-py @ file:///home/conda/feedstock_root/build_artifacts/freetype-py_1650983368720/work
greenlet @ file:///D:/bld/bld/rattler-build_greenlet_1779292428/work
joblib==1.5.3
kiwisolver @ file:///D:/bld/bld/rattler-build_kiwisolver_1773067061/work
matplotlib==3.10.9
mpmath==1.3.0
munkres==1.1.4
numpy @ file:///D:/bld/numpy_1747544591878/work/dist/numpy-2.2.6-cp310-cp310-win_amd64.whl#sha256=af66576ce916c795ffa81be9620c8138a3fda6e1713b2bf7775a630e47eca3a8
openpyxl==3.1.5
packaging==26.0
pandas @ file:///D:/bld/pandas_1764614482805/work
pillow @ file:///D:/bld/bld/rattler-build_pillow_1775060119/work
pycairo==1.29.0
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1769003998/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pytz_1777892201/work
rdkit @ file:///D:/bld/rdkit-meta_1780408017875/work
reportlab @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_reportlab_1778585894/work
rlPyCairo @ file:///home/conda/feedstock_root/build_artifacts/rlpycairo_1756864152814/work
scikit-learn==1.7.2
scipy==1.15.3
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
SQLAlchemy @ file:///D:/bld/bld/rattler-build_sqlalchemy_1779661519/work
sympy==1.14.0
threadpoolctl==3.6.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1777068919240/work
unicodedata2 @ file:///D:/bld/unicodedata2_1770908984535/work
